.App {
  text-align: center;
  background-color: #282c34;
}

body { 
  background-color: #282c34;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.play { 
  /* width: 2rem; */
  height: 2rem;
  border-radius: 12px;
  border-style: none;
  color: white;
  background-color: tomato;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 16px;
}
.react { 
  color: #61DBFB;
}

.small-text { 
  font-size: small;
}

h1 {
  font-size: 6vw;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bouncing-text {
  position: relative;
  display: flex;
  font-size: 70px;
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
}

.m, .e, .r, .r2, .y, .c, .h, .r3, .i, .s, .t, .m2, .a, .s2 {
  position: relative;
  color: #ffffff;
  text-shadow: 0 3px #a83d2a, 0 5px #a83d2a, 0 7px #a83d2a;
  font-size: 8vw;
  
}
.c {
  margin-left: 5%;
}
.m {
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}

.e {
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}

.r {
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}


.r2 {
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}

.y {
  animation: bounce 1s ease infinite .4s;
  -webkit-animation: bounce 1s ease infinite .4s;
}


.c {
  animation: bounce 1s ease infinite .5s;
 -webkit-animation: bounce 1s ease infinite .5s;
}
.h {
  animation: bounce 1s ease infinite .6s;
 -webkit-animation: bounce 1s ease infinite .6s;
}
.r3 {
  animation: bounce 1s ease infinite .7s;
 -webkit-animation: bounce 1s ease infinite .7s;
}
.i {
  animation: bounce 1s ease infinite .8s;
 -webkit-animation: bounce 1s ease infinite .8s;
}
.s {
  animation: bounce 1s ease infinite .9s;
 -webkit-animation: bounce 1s ease infinite .9s;
}
 .t {
  animation: bounce 1s ease infinite 1s;
 -webkit-animation: bounce 1s ease infinite 1s;
}

.m2 {
  animation: bounce 1s ease infinite 1.1s;
 -webkit-animation: bounce 1s ease infinite 1.1s;
}
.a {
  animation: bounce 1s ease infinite 1.2s;
 -webkit-animation: bounce 1s ease infinite 1.2s;
}
.s2 {
  animation: bounce 1s ease infinite 1.3s;
 -webkit-animation: bounce 1s ease infinite 1.3s;
}

 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-40px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }

@-webkit-keyframes bounce {
       0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-40px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px);}
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);} 
}


.bouncing-text:before, .bouncing-text:after {
  content:"";
  position: absolute;
  background-color: #282c34;
  width: 50px;
  height:5px;
  border-radius:50%;
  top:82px;
  z-index:-1;
}

.shadow, .shadow-two {
  position: absolute;
  top:82px;
  z-index:-1;
}

.shadow:before, .shadow:after, .shadow-two:before, .shadow-two:after {
  content:"";
  position: absolute;
  background-color: #282c34;
  width: 50px;
  height:5px;
  border-radius:50%;
  top:0;  
}

.bouncing-text:before {
  left:0;
  animation: scale 1s linear infinite;
  -webkit-animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

@-webkit-keyframes scale {
   0% {transform: scaleX(1);}
  25% {transform: scaleX(0.4);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.9);}
  100% {transform: scaleX(1);}
}

.bouncing-text:after {
  left: 57px;
  animation: scale 1s linear infinite .1s;
  -webkit-animation: scale 1s linear infinite .1s;
}

.shadow:before {
  left: 116px;
  animation: scale 1s linear infinite .2s;
  -webkit-animation: scale 1s linear infinite .2s;
}

.shadow:after {
  left:175px;
  animation: scale 1s linear infinite .3s;
  -webkit-animation: scale 1s linear infinite .3s;
}

.shadow-two:before {
  left:232px;
  animation: scale 1s linear infinite .4s;
  -webkit-animation: scale 1s linear infinite .4s;
}

.shadow-two:after {
  left: 285px;
  animation: scale 1s linear infinite .5s;
  -webkit-animation: scale 1s linear infinite .5s
}